@font-face {
  font-family: 'FantasyKids';
  src: url('Fantasy\ kids\ Regular.otf') format('opentype');}

/* Remove default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  /*  background image */
  body {
    cursor: url('crusor2.png'), auto;
    font-family: 'FantasyKids', Arial, sans-serif;
    background-image: url('Cover\ 1.png'); 
    background-size: cover;
    background-color: black;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding-top: 20px;
    flex-direction: column;
    position: relative;
cursor: url('crusor2.png'), auto;
}
 /* Custom cursor for links and images */
a:hover, img:hover {
    cursor: url('hovercrusor.png'), auto; /* Make sure the path to hovercrusor.png is correct */
}

a:hover, img:hover {
  cursor: url('hovercrusor.png'), auto;
}

.title-image {
  max-width: 50%;
  width: 600px;
  height: auto;
}

.floating-image {
  position: absolute;
  width: 900px; 
  height: auto;
  opacity: 50%;
}

/*Positions */
.left {
  left: 10px;  
}

.right {
  right: 10px;  
}

.center-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; 
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

/* ZOOM Button */
.center-button:hover {
  transform: translate(-50%, -50%) scale(1.05); 
}

/* Back to Home Button */
#back-home {
  position: fixed;  
  bottom: 10px;     
  left: 10px;       
  z-index: 999;     
}

.back-home-button {
  width: 80px;  
  height: auto;
  cursor: pointer;  
  transition: transform 0.2s ease-in-out;
}

.back-home-button:hover {
  transform: scale(1.1);  
}

.intro-text {
  font-family: 'FantasyKids', Arial, sans-serif;
  text-align: center;  
  font-size: 1.5rem;    
  color: white;         
  margin-top: 70px;     
  padding: 20px;      
  max-width: 800px;     
  margin-left: auto;
  margin-right: auto;   
}